.thewhole {
    list-style-position: inside;
    text-align: center;
}

.no2 {
    margin-left: 90px;
}

.no2 {
    margin-left: -45px;
}

.no3 {
    margin-left: 110px;
}

ul li {
    font-size: 19px;
}

.goto {
    text-decoration: none;
    color: black;
}

.gotoPage {
    margin-top: 10px;
    font-size: 18px;
}

.textArea {
    width: 80%;
}

.askQuestion input {
    height: 40px;
    margin-bottom: 7px;
    font-size: larger;
    padding: 10px;
    border-radius: 15px;
    border: solid black 1px;
    margin-left: 70px;
}

.askQuestion textarea {
    height: 300px;
    margin-bottom: 7px;
    font-size: larger;
    padding: 10px;
    border-radius: 15px;
    border: solid black 1px;
    margin-left: 65px;
}

.allQuestion-button {
    background-color: #516cf0;
    border: solid #516cf0;
    color: #fff;
    border-radius: 15px;
    padding: 0px 30px;
    height: 50px;
    width: 300px;
    margin-bottom: 20px;
    margin-left: -670px;
}
