.mainHeaderWrapper {
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin: 20px 120px;
}

.lists {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.lists > li {
    margin: 0 20px;
    color: grey;
}

.button {
    background-color: #516cf0;
    padding: 13px 75px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
}

.button:hover {
    background-color: #fe8402;
}
