/* This ensures the body takes up the full height of the viewport */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Flex container for the entire layout */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This makes sure the content takes up at least the full viewport height */
}

.mainFooterWrapper {
    background-color: #3b455a;
    display: flex;
    justify-content: space-around;
    padding: 25px;

    /* margin-bottom: 1px; */

    /* position: fixed;
    bottom: 0;
    left: 0; */
    /* width: 100%;  */
    /* Take full width of the viewport */
    z-index: 1000;
    /* Ensure it appears above other content */
}

.mainFooterWrapper ul {
    list-style-type: none;
}
.footer > li {
    color: white;
}
ul li {
    margin-top: 10px;
}
.color {
    color: grey;
}

/* center the image vertically */
.parent-div {
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    height: 120px; /* Set the height of your container */
}

img {
    max-width: 100%; /* Optional: Ensure the image doesn't exceed the container width */
    max-height: 100%; /* Optional: Ensure the image doesn't exceed the container height */
}
